
/* Contact area css start here */ 

.contact-area {
    .contact-form {
        input , textarea {
            width: 100%;
            border: 1px solid $gray;
            padding: 10px;
            margin-bottom: 15px;
        }
        input[type="submit"]{
            background-color: $primary_color;
            border: 0;
            text-transform: uppercase;
            color: $white;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            transition: .3s;
            &:hover {
                background-color: $black;
            }
        }
    }
    .contact-address {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
       
        i {
            border: 1px solid $primary_color;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            color: $primary_color;
            margin-right: 15px;
            transition: .3s;
            &:hover {
                border-radius: 5px;
                color: $black;
            }
        }
        h4 {
            text-transform: capitalize;
            font-size: 20px;
            margin-bottom: 4px;
            span {
                display: block;
                text-transform: lowercase;
                font-size: 16px;
                font-weight: 500;
                font-style: italic;
            }
        }
    }
    iframe {
        width: 100%;
        border: 0;
        vertical-align: middle;
        height: 300px;
        margin-top: 40px;
        border-top: 1px solid $gray;
    }
}


/* Contact area css end here */ 