
/* cta top area css start here */ 

.cta-top-area {
    color: $white;
    .section-title {
        margin-bottom: 0;
        h4 {
            font-size: 55px;
            margin-top: 20px;
            padding-bottom: 25px;
            @include max-xs {
                font-size: 20px;
                margin-top: 10px;
                padding-bottom: 10px;
            }
            @include min-sm {
                font-size: 40px;
                line-height: 50px;
            }
            @include min-md {
                font-size: 40px;
                }
            @include min-lg {
                font-size: 40px;
            }
            span {
                display: inline-block;
                text-transform: uppercase;
                color: $primary_color;
                font-size: 40px;
                font-weight: 900;
                @include max-xs {
                    font-size: 20px;
                }
            }
        }
    }
}


/* cta top area css end here */ 