
/* Header area css start here */ 

.header-area {
    @include max-xs {
        position: inherit;
        padding: 0;
    }
    padding: 20px 0; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    .logo {
        @include max-xs {
            position: absolute;
            left: 10px;
            top: 10px;
        }
        @include min-sm {
            text-align: center;
            margin-bottom: 20px;
        }
    }
    .menu {
        @include max-xs {
            display: none;
        }
        ul {
            li {
                a {
                    display: block;
                    margin-left: 20px;
                    text-transform: capitalize;
                    font-size: 18px;
                    font-weight: 500;
                    color: $white;
                    &:hover {
                        color: $primary_color;
                    }
                    @include min-md {
                        margin-left: 15px;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
.slicknav_menu {
    display: none;
    @include max-xs {
        display: block;
    }
}



/* Header area css end here */ 